body{
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 150px;
    
    
}

button{
    border-radius: 50px 150px 150px 50px;
    padding: 5px 15px;
}